<h1>Hi! This is a Test!</h1>
<p><%=@test_var%></p>

<button style="background-color: #008CBA;border: none;text-align: center;font-size: 16px;border-radius: 8px;" onclick="ret()">Return</button>

<script>
function ret() {
    location.assign("/");
}
</script>
